* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.page-container{
    padding-right: 60px;
    padding-left: 60px;
}

.navbar{
    display: flex;
    color: red;
    font: optional;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

nav a{
    color: red;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

input{
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.hero{
    text-align: center;
    color: white;
    padding: 50px 20px;
    background-color: black;
}

.hero h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.hero button{
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 25px;
}

.product-container{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;   
    padding: 20px;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    height: 2px;
}   

.product-container::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 4px;
}

.products{
    padding: 20px;
    overflow: visible;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
}

.products h2{
    color: white;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: bold;
}

.products h3{
    color: white;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: normal;
}

.product-card{
    padding: 10px;
    background-color: #222;
    color: white;
    border-radius: 8px;
    flex: 0 0 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product-card img{
    width: 100%;
    border-radius: 4px;
}

.product-card h3{
    margin: 10px 0 0;
    font-size: 16px;
}

.footer{
    background-color: black;
    color: #999;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* red lines */
.footer-line-top{
    height: 4px;     /* thick */
    background-color: red;
    width: 100%;
    margin-bottom: 40px;
}

.footer-line-bottom{
    height: 1px;     /* thin */
    background-color: red;
    width: 100%;
    margin-top: 20px;
}

/* TOP AREA */
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

/* LOGO */
.footer-logo img{
    width: 100px;
}

.footer-logo{
    flex: 0 0 auto;
}

/* LINKS AREA */
.footer-links{
    display: flex;
    gap: 50px;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

.footer-column h3{
    color: white;
    margin-bottom: 15px;
}

.footer-column a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column a:hover{
    color: rgb(151, 30, 30);
    text-decoration: underline;
}

/* SIGNUP */
.footer-signup{
    max-width: 450px;
;
}

.footer-signup h3{
    color: white;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-box{
    display: flex;
}

.signup-box input{
    flex: 1;
    padding: 12px;
    background: black;
    border: 1px solid #333;
    color: white;
}

.signup-box button{
    background: red;
    border: none;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
}

.footer-signup p{
    margin-top: 15px;
    font-size: 14px;
}

/* BOTTOM AREA */
.footer-bottom{
    color: aliceblue;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-copy span{
    background: rgb(44, 68, 49);
    padding-left: 3px;
    margin: 0 10px;
}

.footer-social{
    display: flex;
    gap: 20px;
}

.footer-country{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-country img{
    width: 40px;
    height: 34px;
    object-fit:contain;
}

.footer-legal{
    display: flex;
    gap: 20px;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}