* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.navbar{
    display: flex;
    color: red;
    font: optional;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

nav a{
    color: red;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

input{
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.hero{
    text-align: center;
    color: white;
    padding: 50px 20px;
    background-color: black;
}

.hero h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.hero button{
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 25px;
}

.product-container{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;   
    padding: 20px;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    height: 8px;
}   

.product-container::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 4px;
}

.products{
    padding: 20px;
    overflow: visible;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.products h2{
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.product-card{
    padding: 10px;
    background-color: #222;
    color: white;
    border-radius: 8px;
    flex: 0 0 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product-card img{
    width: 100%;
    border-radius: 4px;
}

.product-card h3{
    margin: 10px 0 0;
    font-size: 16px;
}

